<html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="AXPrint Assessment Task">
  <meta name="keywords" content="HTML,CSS,JavaScript">
  <meta name="author" content="Mohammad Hossein Shakouri">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Weather cams</title>
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/jquery-3.2.1.min.js"></script>
  <script src="./js/handlebars-v4.0.10.js"></script>
  <script src="./js/data.js"></script>
  <script src="./js/script.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div class="container" role="main">
    <div class="weather-box" id="weather_content">

    </div>
    <div class="livecam-box" id="livecams_content">

    </div>
    <div class="modal-player">
      <div class="modal-body">
        <h1 class="modal-title">New York Live</h1>
        <a href="#" class="modal-close">×</a>
      </div>
    </div>
  </div>
  <script id="weather_temp" type="text/x-handlebars-template">
    <div class="weather-cards">
      {{#each days}}
      <div class="card {{#if @first}}active{{/if}}" id="{{name}}" data-id="{{@index}}">
        <div class="card-head">
          <span class="day">{{day}}</span>
          <span class="date">{{date}}</span>
        </div>
        <div class="card-body">
          <div class="card-main">
            <span class="city">{{city}}</span>
            <span class="temp">{{temp}}</span>
            <span class="night-temp">{{night_temp}}</span>
            <span class="icon {{icon_class}}"></span>
          </div>
          <div class="card-bottom">
            <span class="humidity">{{humidity}}%</span>
            <span class="wind-speed">{{wind_speed}}km/h</span>
            <span class="wind-direction">{{wind_direction}}</span>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </script>
  <script id="livecams_temp" type="text/x-handlebars-template">
    <div class="cams-title">Live cameras</div>
    <ul class="livecam-cards">
      {{#each cams}}
      <li class="card" id="{{city}}" data-id="{{@index}}">
        <a href="#" class="image-box" data-id="{{@index}}">
          <img src="./images/{{image}}" alt="{{city}}" class="card-image">
        </a>
        <a href="#" data-id="{{@index}}">
          <span class="city">{{city}}</span>
          <span class="date">{{date}}. </span><span class="time">{{time}}</span>
        </a>
      </li>
      {{/each}}
    </ul>
  </script>
</body>

</html>