/* Main Style PCSS file */
@import "/partials/reset.pcss";
body {
  background: #1e202c;
}
.container {
  width: 880px;
  margin: 0 auto;
}
.weather {
  position: relative;
  z-index: 2;
  &-box {
    margin: 145px 0;
  }
  &-cards {
    width: 100%;
    position: relative;
    display: inline-block;
    .card {
      width: 10%;
      float: left;
      height: 220px;
      color: #fffeff;
      cursor: pointer;
      overflow: hidden;
      transition: 0.4s;
      &-head {
        width: 100%;
        height: 30px;
        padding: 0 8px;
        font-size: 10px;
        line-height: 30px;
        position: relative;
        display: inline-block;
        color: #bec2c3;
        .day {
          left: 50%;
          transition: 0.1s;
          position: absolute;
          transform: translateX(-50%);
        }
        .date {
          opacity: 0;
          float: right;
          transition: 0.3s;
        }
      }
      &-body {
        height: 190px;
        transition: 0.4s;
        position: relative;
        .card-main {
          .city {
            opacity: 0;
            width: 100%;
            color: #c7cfd1;
            transition: 0.4s;
            display: inline-block;
          }
          .temp {
            top: 60%;
            left: 50%;
            font-size: 16px;
            transition: 0.4s;
            position: absolute;
            transform: translate(-50%,-60%);
          }
          .night-temp {
            top: 74%;
            left: 50%;
            color: #9597ae;
            font-size: 13px;
            transition: 0.1s;
            position: absolute;
            transform: translate(-50%,-74%);
          }
        }
        .card-bottom {
          opacity: 0;
          bottom: 23px;
          color: #9597ae;
          font-size: 10px;
          position: absolute;
          transition: opacity 0s;
          span {
            margin-right: 20px;
            &:last-child {
              margin-right: 0;
            }
          }
          .humidity {
            &:before {
              content: "";
              width: 18px;
              height: 18px;
              margin-right: 5px;
              background-size: 18px;
              display: inline-block;
              vertical-align: middle;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url(../images/humidity.png);
            }
          }
          .wind-speed {
            &:before {
              content: "";
              width: 18px;
              height: 18px;
              margin-right: 5px;
              background-size: 18px;
              display: inline-block;
              vertical-align: middle;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url(../images/wind.png);
            }
          }
          .wind-direction {
            text-transform: capitalize;
            &:before {
              content: "";
              width: 18px;
              height: 18px;
              margin-right: 5px;
              background-size: 18px;
              display: inline-block;
              vertical-align: middle;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url(../images/wind-direction.png);
            }
          }
        }
      }
      &.active {
        width: 40%;
        cursor: default;
      }
      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
      &:nth-child(2n-1) {
        background: #323544;
        .card-head {
          background: #2d313d;
        }
      }
      &:nth-child(2n) {
        background: #262a36;
        .card-head {
          background: #222430;
        }
      }
      
      &.active {
        .card-head {
          .day {
            left: 8px;
            float: left;
            transform: translateX(0);
          }
          .date {
            opacity: 1;
          }
        }
        .card-body {
          padding: 0 16px;
          .card-main {
            .city {
              opacity: 1;
              height: 12px;
              margin: 27px 0;
              font-size: 12px;
            }
            .temp {
              top: 60px;
              left: 16px;
              font-size: 60px;
              font-weight: bold;
              transform: translate(0);
            }
            .night-temp {
              opacity: 0;
            }
            .icon {
              top: 75px;
              width: 70px;
              right: 70px;
              height: 50px;
              transform: translateX(0);
              background-size: 60px auto;
            }
          }
          .card-bottom {
            opacity: 1;
            transition: opacity 0.8s;
          }
        }
      }
    }
  }
}
.icon {
  top: 37px;
  right: 50%;
  width: 40px;
  height: 40px;
  transition: 0.4s;
  position: absolute;
  transform: translateX(50%);
  background-size: 40px auto;
  background-position: center;
  background-repeat: no-repeat;
  &.sunny-day {
    background-image: url(../images/sunny-day.png);
  }
  &.partly-cloudy {
    background-image: url(../images/partly-cloudy.png);
  }
  &.cloudy {
    background-image: url(../images/partly-cloudy.png);
  }
  &.cloudier {
    background-image: url(../images/partly-cloudy.png);
  }
  &.cloudy-thunder {
    background-image: url(../images/partly-cloudy.png);
  }
  &.rainy {
    background-image: url(../images/partly-cloudy.png);
  }
  &.rainier {
    background-image: url(../images/partly-cloudy.png);
  }
}
.livecam {
  position: relative;
  z-index: 2;
  &-box {
    display: inline-block;
    .cams-title {
      color: #fffeff;
      font-size: 24px;
      font-weight: 100;
      margin-bottom: 5px;
    }
  }
  &-cards {
    margin: 0;
    padding: 0;
    list-style: none;
    .card {
      float: left;
      margin-right: 22px;
      max-width: calc((100% - 66px)/4);
      &:last-child {
        margin-right: 0;
      }
      .card-image {
        width: 100%;
        border-radius: 4px;
      }
      .image-box {
        position: relative;
        display: inline-block;
        &:before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          width: 36px;
          height: 36px;
          background-image: url(../images/play.png);
          background-repeat: no-repeat;
          background-size: 32px;
          background-position: center;
          opacity: 0.7;
          transition: 0.3s;
        }
      }
      .city {
        color: #c7cfd1;
        display: block;
        font-size: 11px;
        margin: 18px 0 4px;
      }
      .date,.time {
        color: #9597ae;
        font-size: 8px;
      }
      
      &:hover {
        .image-box {
          &:before {
            opacity:1;
          }
        }
      }
    }
  }
}
.modal-player {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity:0;
  transition: 0.3s;
  z-index: -10;
  &.open {
    opacity: 1;
    z-index: 10;
  }
  .modal-body {
    position: absolute;
    background-color: black;
    background-image: url(../images/yt.png);
    background-position: center;
    background-size: 64px;
    background-repeat: no-repeat;
    width: 880px;
    height: 460px;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-55%);
    .modal-title {
      color: #c7cfd1;
      padding: 10px;
      font-size: 20px;
    }
    .modal-close {
      position: absolute;
      right: 10px;
      top: 5px;
      color: #fffeff;
      font-size: 25px;
    }
  }
}